<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         cacheResultFile=".phpunit.cache/test-results">
    <testsuites>
        <testsuite name="FrontendComments Security Regression Tests">
            <directory>tests/Security</directory>
        </testsuite>
        <testsuite name="FrontendComments Core Logic Tests">
            <directory>tests/Core</directory>
        </testsuite>
    </testsuites>
</phpunit>
