/*
CSS file for default styling of the frontend comments

Created by Jürgen K.
https://github.com/juergenweb 
File name: frontendcomments.css
Created: 20.07.2023 
 */

.comments-list {
    margin-top: 30px;
    position: relative;
    list-style-type: none;
}

.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 20px;
    clear: both;
    margin-top: 15px;
    position: relative;
}

.comment-date {
    display: block;
    clear: both;
}

/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    position: relative;
    z-index: 99;
    float: left;
    overflow: hidden;
    padding-right: 10px;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

.comments-list .comment-box {
    width: 100%;
    margin-top: 15px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}

.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-removed {
    background: #eee;
    padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    margin: 0 10px 0 0;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-head span.votebadge {
    float: right;
    margin-left: 5px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {
    color: #03658c;
}

.reply-form-wrapper {
    padding: 12px;
}

.alert-close-wrapper {
    text-align: right;
}

.comment-date {
    display: inline;
    clear: right;
}

.icon-box {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    height: 40px;
}

.icon-box span {
    line-height: 40px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (min-width: 481px) {

    .reply-list {
        padding-left: 40px;
    }

    .comment-box {
        width: 90%;
    }

    .comment-box .comment-name {
        float: left;
    }

    .comment-date {
        display: inline;
        clear: none;
    }

    .comment-box .comment-head span {
        float: left;
    }

    .comment-box .comment-head .fc-icons {
        clear: none;
    }

    .comment-box .comment-head i {
        line-height: 1.8em;
        margin-left: 14px;

    }

    .icon-box {
        margin-right: 0;
    }

}

@media only screen and (min-width: 481px) {
    .comments-container {
        width: auto;
    }

    .comments-list .comment-box {
        width: auto
    }

    .reply-list .comment-box {
        width: 98%;
    }

    .fc-icons {
        float: right;
    }

    .icon-box {
        padding: 0;
    }
}

/** =====================
 * Star rating
 ========================*/

.rating {
    position: relative;
    width: 180px;
    background: transparent;
    display: flex;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
}

.star-rating-comment {
    position: relative;
    clear: both;
}

.star-rating-comment .rating {
    padding-left: 0;
}

.star-rating-comment .rating i {
    margin-left: 0;
    color: #dabd18b2;
}

.vote .star-rating-comment .rating i:hover {
    color: #dabd18b2;
    text-shadow: #dabd18b2;
}

.rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
}

.vote .rating__star:hover {
    color: #dabd18b2;
    text-shadow: 0 0 5px #ddd;
}

