/* FrontendComments field for Pico 2 Markup */

article.pico-comment header h6, article.pico-comment header p {
    margin-bottom: 0;
}

article.pico-comment header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0;

}

article.pico-comment .avatar img  {
        border-radius: 50%;
}

article.pico-comment .meta {
    grid-column: span 4 / span 4;
}

article.pico-comment footer {
    text-align: right;
}

article.pico-comment footer .fc-reply-form-wrapper, article.pico-comment footer .fc-novote {
    text-align: left;
}

a.fc-vote-link {
    border-bottom: 0;
    text-decoration: none;
}

.fcm-avatar {
    text-align:center;
}

a.fc-comment-reply {
    margin-left: 10px;
}

.comment-author {
    font-weight: bold;
}

.website-link, .creation-date {
    font-size: 70%;
}

div.votes {
    display:inline-block;
}

article.pico-comment footer span {
    padding-left: 10px;
}

article.pico-comment .fc-votebadge {
    background-color: #FF1493;
    color: #fff;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    margin-left: 4px;
}

article.pico-comment .fc-votebadge.upvote {
    background-color: #64DD17;
}

article.pico-comment .star-rating-result .star {
    margin: 0 3px;
}

article.pico-comment .comment-feedback {
    margin-top: 15px;
    background: rgb(231, 234, 239.5);
}

article.pico-comment .comment-feedback >* {
    font-style: italic;
}

    /** Pagination */

.page-of-text {
    margin-bottom: 15px;
}

ul.pagination {
    list-style-type: none;
    display: inline-block;
    padding-left: 0;
}

.pagination-center {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pagination li {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 5px 0 0;
    border: 0;
    list-style-type: none;
}
.pagination li:last-child {
    margin: 0;
}
.pagination li a {
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-weight: 400;

    color: #2E2929;
    cursor: pointer;
    border-radius: 3px;
    background: #ddd;
    transition: background-color .25s ease-in-out;
}
.pagination li a:hover, .pagination li.currentpage a {
    background-color: #FF1493;
    color: #FFF;
}


@media (max-width: 600px) {

    article.pico-comment .meta {
        grid-column: 3 / span 3;
    }

    span.author-homepagelink-label {
        display: block;
    }
}
