/*
This CSS file contains all general styles for all types of markups (frameworks and no frame work)
 */

.fc-comments-wrapper {
    margin: 20px 0;
}

ul.fc-comments-list {
    list-style-type: none;
}

.fc-listitem {
    margin-top: 20px;
}

.fc-upvote:after {
    content: '\2191';
}

.fc-downvote:after {
    content: '\2193';
}

.full-star, .half-star, .empty-star {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background-size: cover;
    position:relative;
    top: 1px;
}

.full-star {
    background-image: url('../img/star-full.svg');
}

.empty-star {
    background-image: url('../img/star-empty.svg');
}

.half-star {
    background-image: url('../img/star-half.svg');
}

.fc-cancel-link-wrapper {
    padding-bottom: 20px;
}

form.reply-form {
    padding: 20px 0;
}
